{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} Функциональность: Отображение основной информации о барбершопе с блоками - якорми для секций "О нас", "Услуги", "Мастера", "Запись". 
Мы уже находимся в
container / main и можем оперировать section - семантическими тегами. 
{% endcomment %}
<h2>О нас</h2>
<section>

</section>
<h2>Услуги</h2>
<section>
    {% comment %} Тут услуги, которые подгружаютс из нашей "базы данных" - файла data {% endcomment %}
</section>
<h2>Мастера</h2>
<section>
    {% comment %} Тут Мастера, которые подгружаютс из нашей "базы данных" - файла data {% endcomment %}
</section>
<h2>Запись</h2>
<section>
    {% comment %} Тут кнопка "записаться", пока она не будет работать {% endcomment %}
</section>
{% endblock content %}