{% extends "base.html" %}
{% load static %}
    
    {% block title %}
    {{title}}
    {% endblock %}
    
    {% block content %}
    <h1>{{title}}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {% comment %}
        Опишем все поля собственноручно для того чтобы:
        1. Чекбокс не растягивался на всю ширину формы
        2. Поле где загружается изображение, показывало старое

        ["name", "description", "price", "duration", "is_popular", "image"]
        {% endcomment %}
        {% comment %} name {% endcomment %}
        <div class="mb-3"></div>
        <button class="btn btn-dark" type="submit">{{button_txt}}</button>
    </form>
    {% endblock %}
