<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Экстперименты с данными в шаблонизаторе Django</h1>
    <p>Строка: {{string}}</p>
    <p>Число: {{number}}</p>
    <p>Список: {{list}}</p>
    <p>Словарь: {{dict}}</p>
    <p>Список обращения к индексу: {{list_.0}}</p>
    <p>Словарь: {{dict}}</p>
    <p>Словарь: обращение к ключу: {{dict_.bestmaster}}</p>
    <p> Экземпляр класса {{class}}</p>
    <p>Экземпляр класса: обращение к атрибуту: {{class.name}}</p>
    <p>Экземпляр класса: обращение к методу: {{class.say_my_name}}</p>

    <h2>Условные конструкции</h2>
    <p>Сотрудник</p>
    <p>Имя: {{employee.name}}</p>
    <p>Статус: {{employee.is_active}}</p>
    <h3>Вариант 1</h3>
    {% if employee.is_active %}
        <p>Статус: Активен</p>
    {% else %}
        <p>Статус: Не активен</p>
    {%endif%}

    <h3>Вариант 2</h3>
    {% comment %}Проверка на равенство {% endcomment %}

</body>
</html>

{% comment %} 
Мы попробовали как будут отрабатывать разные при передаче их в шаблон.
Работает
всё, кроме вызова методов экземпляра с аргументами! Без аргументов будет работать отлично! {% endcomment %}
